/* VARIABLES */
:root {
  --font-primary: 'PT Serif', serif;
  --font-secondary: 'Lato', sans-serif;

  --color-primary-light: #ffb900;
  --color-primary-dark: #ff7730;
  --color-white: #ffffff;
  --color-black: #000000;

  --border-radius-small: 9px;
  --border-radius-large: 11px;

  --color-text-dark: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
}

.main {
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  padding: 3rem 4rem;
}

.heading-primary {
  font-size: 4.4rem;
  text-align: center;
  color: var(--color-text-dark);
}
